
body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
header {
    width: 100vw;
    height: 100px;
}
main {
    width: 100vw;
    height: 700px;
    display: grid;
    place-content: center;
}
main .main-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
main .btn-container {
    display: grid;
    gap: 1rem;
}
.btn-container > * {
    padding: 0.5rem 1rem;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Secular One';
    background-image: linear-gradient(to right, #a8ff78, #78ffd6);
}
main .board {
    /* width: 600px; */
    /* height: 600px; */
    border: 2px solid black; 
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
}
.board div {
    width: 70px;
    height: 70px;
    display: grid;
    place-content: center;
}