
body {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}
header {
    width: 100vw;
    height: 100px;
}
main {
    width: 100vw;
    height: 700px;
    display: grid;
    place-content: center;
}
main .main-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
main .side-container {
    display: grid;
    max-width: 220px;
    gap: 2rem;
    padding-top: 5rem;
}
.side-container button {
    padding: 0.5rem 3rem;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right, #a8ff78, #78ffd6);
}
#form {
    display: grid;
}
main .board {
    /* width: 600px; */
    /* height: 600px; */
    /* border: 2px solid black;  */
    display: grid;
    grid-template-columns: repeat(9, 70px);
    grid-template-rows: repeat(9, 70px);
}
.board div {
    width: 70px;
    height: 70px;
    display: grid;
    grid-template-columns: 9;
    place-content: center;
}
