:root {
    --bg-clr: #fff2e6;
    --bg-black: #994d00;
    --bg-white: #ffbf80;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One';
}
body {
    background: var(--bg-clr);
}

.black {
    background: var(--bg-black);
}
.white {
    background: var(--bg-white);
}



